.verticaltext {
    writing-mode: vertical-rl;
}

@media screen and (max-width: 1024px) {
    .verticaltext {
        writing-mode: horizontal-tb;
    }
}

.hello{
    
background-color: #FFDFDF;
background-color: #D14D72;
background-color: #FFFBF5;
background-color: #001d2c;
background-color: #FFABAB;
background-color: #FDF0F0;
}